* {
	box-sizing: border-box
}
body {
	width: 100%;
	background-image: url('../images/what-the-hex.png');
}

.navbar {
	background-color: #ffffff;
	border-bottom: solid .1rem #cccccc;
	height: 8.5rem;
	text-align: center;
}


.header-row {
	width: 100%;
}
.border-thingy {
	border-left: solid 1px #cccccc;
}
.nav-link {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.4rem;
	text-decoration: none;
	color: #777777;
	padding: .2rem;
	margin: 0;

}
a:hover {
	background-color: #4aaaa5;
	color: white;
}

h1 {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 2.6rem;
	color: white;
	text-align: left;
	padding: 2.7rem;
	height: 8.4rem;
	margin: 0;
}

.smallscreen {
	background-color: #ffffff;
	border-bottom: solid .1rem #cccccc;
	height: 8.5rem;
	display: inline;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.4rem;
	text-decoration: none;
	color: #777777;
	padding: .2rem;
	margin: 0;
}

main {
	width: 100%;
}	

.article {
	width: 960px;
	text-align: left;
	padding: 2.5rem;
	padding-top: 3.6rem;
	margin: 13.5%;
	margin-top: 3.6rem;
	background-color: #ffffff;
	border: solid 1px #dddddd;
}
h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 2.6rem;
	font-weight: bold;
	color: #4aaaa5;
	margin: 0;
	margin-bottom: 1.3rem;
}

hr {
	border: .1rem solid lightgray;
	width: 100%;
}

.hero img {
	width: 21rem;
	height: auto;
	float: left;
	padding: 0;
	padding-top: 2rem;
	padding-right: 2.1rem;
	padding-bottom: 1rem;
	margin: 0;
}

.hero {
	text-align: center;
}
.hero img {

}
/*cheat code to prevent stuff below from bleeding into float area*/
.cf:before,.cf:after {
	content: " "; 
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.9rem;
	color: #777777;
	line-height: 2.85rem;
	text-align: left;
	margin: 30px;
}

.card {
	width: 100%;
	height: 19.5rem;
	padding: 0;
	margin: 0;
	margin-top: 2.5rem;
	margin-bottom: 2.9rem;
}

.figure {
	padding: 0;
	margin: 0;
}

.figure img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.figure a {
	text-decoration: none;
}

.card-body {
	margin: 0;
	padding: 0;
	position: relative;
	top: -5.9rem;
}

h5 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	text-align: center;
	font-size: 2.2rem;
	padding: 1.3rem;
	width: 100%;
	background-color: #4aaaa5;
}

.contact label {
	margin-top: 0px;
	margin-bottom: 14px;
}

label {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.4rem;
	color: #777777;
}

.form-control {
	font-size: 1.1rem;
	padding: 1.5rem;
}

.uname {
	margin: 0rem;
	margin-top: 2rem;
}

.uemail {
	margin: 0rem;
	margin-top: 1.4rem;
}

.btn-primary {
	background-color: #4aaaa5;
    border: none;
    color: white;
    padding: .7rem 1.8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 10px;
}

.footer {
	width: 100%;
	position: fixed;
    bottom: 0;
	height: 9.2rem;
	background-color: #666666;
	border-top: solid .7rem #4aaaa5;
	text-align: center;
}
.footer p {
	font-size: 1rem;
	color: lightgray;
	padding-top: 2.8rem;
	margin: 0;
}	

.footerp {
	width: 100%;
	position: fixed;
    bottom: 0;
	height: 4.5rem;
	background-color: #666666;
	border-top: solid .7rem #4aaaa5;
}